
#custom-slider {
    width:214px;
    padding-top:6px;
    background-image:url(images/ticks.gif);
}

#custom-slider .x-slider-thumb {
    background-image:url(images/slider-thumb.png);
}


h3 {
    padding:15px 0 5px;
}

