/* stylesheet3.css - 20131101 */

@font-face {
    font-family: 'DejaVuSansMonoBook';
    src: url('fonts/DejaVuSansMono-webfont.eot');
    src: url('fonts/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSansMono-webfont.woff') format('woff'),
      url('fonts/DejaVuSansMono-webfont.ttf') format('truetype'),
      url('fonts/DejaVuSansMono-webfont.svg#DejaVuSansMonoBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansMonoOblique';
    src: url('fonts/DejaVuSansMono-Oblique-webfont.eot');
    src: url('fonts/DejaVuSansMono-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSansMono-Oblique-webfont.woff') format('woff'),
      url('fonts/DejaVuSansMono-Oblique-webfont.ttf') format('truetype'),
      url('fonts/DejaVuSansMono-Oblique-webfont.svg#DejaVuSansMonoOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansMonoBold';
    src: url('fonts/DejaVuSansMono-Bold-webfont.eot');
    src: url('fonts/DejaVuSansMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSansMono-Bold-webfont.woff') format('woff'),
       url('fonts/DejaVuSansMono-Bold-webfont.ttf') format('truetype'),
       url('fonts/DejaVuSansMono-Bold-webfont.svg#DejaVuSansMonoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansMonoBoldOblique';
    src: url('fonts/DejaVuSansMono-BoldOblique-webfont.eot');
    src: url('fonts/DejaVuSansMono-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/DejaVuSansMono-BoldOblique-webfont.woff') format('woff'),
       url('fonts/DejaVuSansMono-BoldOblique-webfont.ttf') format('truetype'),
       url('fonts/DejaVuSansMono-BoldOblique-webfont.svg#DejaVuSansMonoBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
   margin: 0;
   width: 100%;
   height: 100%;
}

#map {
  z-index: -9999;
   margin: 0;
   width: 100%;
   height: 100%;
}
     
#wrapper{
    position: absolute;
    bottom: 22em;
    left: 3em;
    z-index: 1000;
    border: 0px solid #000000;
}

#header_flights {
   position: absolute;
   color: #ffffff;
   background: #999999 ;/*url('../images/background_trans.png');*/
   width: 393px;
   bottom: 0px;
   line-height: 0px;
}

#header_flights td {
  font-family: "DejaVuSansMonoBook", monospace;
  font-size: 10px;
  padding-right: 6px;
  padding-left: 14px;
  color: #ffffff;
}
     
#content_flights {
   position: absolute;
   background: url('../images/background_trans.png');
   padding-left: 15px;
   padding-top: 5px;
   padding-right: 5px;
   overflow-y: scroll; 
   overflow-x: hidden;
   height: 300px;
   width: 371px;
}
      
#flights {
   border-bottom: 1px solid #CCC;
   padding: 0;
   border: 0;
 }
      
#flights td {
  font-family: "DejaVuSansMonoBook", monospace;
  font-size: 12px;
  padding-right: 10px;
  line-height: 0px;
}

#info_line {
  position: relative;
  font-family: "DejaVuSansMonoBook", monospace;
  font-size: 12px;
  padding-top: 0px;
  padding-left: 15px;
  background: url('../images/background_trans.png');
  width: 380px;
  top: -18px;
}
      
.fid,.callsign,.cs2,.lon,.lat,.hdg,.alt_ft,.spd_kts {
   width: 60px;
   border-top: 1px solid #CCCCCC;
}
     
.callsign p {
  font-family: "DejaVuSansMonoBold", monospace;
  font-size: 12px;
  border: 0px solid #ffffff;
  color: #000000;
  padding: 2px;
}
      
.hdg {
    padding-left: 20px;
    width: 40px;
    text-align:right;
}

.alt_ft {
    text-align:right;
}

.spd_kts {
    width: 40px;
    text-align:right;
}

.model {
   border-top: 1px solid #CCCCCC;
}

.model2 {
   width: 85px;
   border-top: 1px solid #CCCCCC;
   overflow-x: hidden;
}

.red {
color: #ff0000;
 }
.gray666 {
color: #666666;
 }
.grayCCC {
color: #CCCCCC;
 }
.back_grayCCC {
background: #CCCCCC;
 }
.back_yellowFF0 {
background: #FFFF00;
 }
.back_greenB7F {
background: #b7f846;
 }
.hdg_n {
background: url('../images/plane_black_10x10n.png') no-repeat left center;
 }
.hdg_ne {
background: url('../images/plane_black_10x10ne.png') no-repeat left center;
 }
.hdg_e {
background: url('../images/plane_black_10x10e.png') no-repeat left center;
 }
.hdg_se {
background: url('../images/plane_black_10x10se.png') no-repeat left center;
 }
.hdg_s {
background: url('../images/plane_black_10x10s.png') no-repeat left center;
 }
.hdg_sw {
background: url('../images/plane_black_10x10sw.png') no-repeat left center;
 }
.hdg_w {
background: url('../images/plane_black_10x10w.png') no-repeat left center;
 }
.hdg_nw {
background: url('../images/plane_black_10x10nw.png') no-repeat left center;
 }
